body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.content {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Five equal columns */
    gap: 10px; /* Space between columns */
    justify-content: start; /* Align items to the left */
    align-items: start; /* Align items at the top */
}

.Kugel {
    grid-column: 5; /* Place in the fifth column */
}


.Kreis, .Kreisteile, .Zylinder, .Kegel, .Kugel {
    box-sizing: border-box;
}

.Kreis h3, .Kreisteile h3, .Zylinder h3, .Kegel h3, .Kugel h3 {
    margin-top: 0;
    margin-left: 5px;
    font-size: 1.2em;
    color: #333;
}

label {
    margin-left: 5px;
    margin-right: 5px;
}

input[type="text"]{
    width: 25px;
}

.Results {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Five equal columns for larger screens */
    gap: 10px; /* Space between elements */
    justify-content: start; /* Align items to the left */
    align-items: start; /* Align items at the top */
}

.KreisResults, .KreisteileResults, .ZylinderResults, .KegelResults, .KugelResults {
    box-sizing: border-box;
    padding: 10px;
}

.KreisResults h3, .KreisteileResults h3, .ZylinderResults h3, .KegelResults h3, .KugelResults h3 {
    margin-top: 0;
    margin-left: 5px;
    font-size: 1.2em;
    color: #333;
}

p {
    margin-left: 5px;
    margin-right: 5px;
}

input[type="submit"] {
    padding: 4px 4px;
    background-color: #aaa;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #727775;
}

@media only screen and (max-width: 768px) {
	
    .content {
        grid-template-columns: repeat(3, 1fr); /* Three columns for medium screens */
        background-color: lightblue; /* Debugging: Remove after testing */
    }
    
    .Results {
        grid-template-columns: repeat(3, 1fr); /* Three columns for medium screens */
    }
}

@media only screen and (max-width: 480px) {
    .content {
        grid-template-columns: repeat(1, 1fr) !important; /* Single column for very small screens */
        background-color: lightgreen; /* Debugging: Remove after testing */
    }
    
    .Results {
        grid-template-columns: repeat(1, 1fr) !important; /* Single column for very small screens */
    }
}
